
@{
    ViewBag.Title = "FolderDelete";
}

<h2>FolderDelete</h2>
<h2>Folder Delete successed, Folder lists</h2>
<table>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item</td>
        </tr>

    }
</table>

