
@{
    ViewBag.Title = "FolderCreate";
}

<h2>FolderCreate</h2>

<h2>Create Folders Successed, Folders List</h2>
<table>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item</td>
        </tr>

    }
</table>

