<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $("#infopane").attr("src", '@Url.Action("ReportInfo", "Report")');
        $("#infopane").load(function () {
            //$("#infopane").contents().find('#ddlReports').click(function () { alert("test");})
            $("#infopane").contents().find('#ddlReports').on('change', function () {
                alert("Test");
                var val = $(this).val();
                var x = '@Url.Action("ReportInfo", "Report")' + "/" + val;
                alert(x);
                alert($("#searchpane").length);
                $("#searchpane").attr("src", x);
            });
        })
    });
    </script>
<div id="Reports">
    <span>Reports:</span> @Html.DropDownList("ddlReports", new List<SelectListItem>
{
new SelectListItem { Text = "Report1", Value = "1"},
new SelectListItem { Text = "Report2", Value = "2"},
new SelectListItem { Text = "Report3", Value = "3"}
}, "")
</div>
<div id="ReportInfo">
    @*@{
        Html.RenderPartial("ReportInfo");
        }*@
</div>